<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<!-- $Id: web.xml,v 1.2 2009-10-18 12:39:10 sampo Exp $ -->
<web-app>

<display-name>ZXID Example</display-name>
<description>ZXID Example.</description>

<servlet>
<servlet-name>ZXIDhello</servlet-name>
<servlet-class>zxidhlo</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ZXIDhello</servlet-name>
<url-pattern>/zxidHLO</url-pattern>
</servlet-mapping>

<!-- /web-app>

<web-app>

<display-name>ZXID SSO Helper Servlet</display-name>
<description>By deploying this servlet you can gain SSO capability for your other servlets.</description -->

<servlet>
<servlet-name>zxidsrvlet</servlet-name>
<servlet-class>zxidsrvlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>zxidsrvlet</servlet-name>
<url-pattern>/sso</url-pattern>
</servlet-mapping>

<!-- /web-app>

<web-app>

<display-name>ZXID Demo App</display-name>
<description>Demonstration app showing how zxidsrvlet can be used to make SSO.</description -->

<servlet>
<servlet-name>zxidappdemo</servlet-name>
<servlet-class>zxidappdemo</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>zxidappdemo</servlet-name>
<url-pattern>/appdemo</url-pattern>
</servlet-mapping>

</web-app>
